/* COLORS */

$textColor: #1f3a55;
$textInvertedColor: #fff;
$linkColor: #007593;
$messageColor: #999;
$borderColor: #e0e0e0;
$panelBackgroundColor: #77bac0;
$headerBackground: #4e5f71;
$buttonBackground: #77bac0;
$activeRowBackground: #e4edea;
$evenRowBackground: #f9f9f9;

/* END COLORS */
